.stack-work/
package.yaml
result
dms-docker
*~
dist-newstyle
octopod-config.json
frontend-result
octopod-css/node_modules
dev/certs/*
tmp/*
octopod-css/production
.idea/
octopod-frontend-elm/elm-stuff
octopod-frontend-elm/octopod-css
octopod-frontend-elm/index.html
.DS_Store
