http://localhost:8000


file_server

rewrite /api/* {path}
reverse_proxy /api/* localhost:3002

@production {
  path_regexp production /static/(.*)
}
rewrite @production /octopod-css/production/{http.regexp.production.1}

rewrite /config.json /dev/config.json
rewrite * /frontend-result/bin/frontend.jsexe/{path}


@3003 {
  not path /octopod-css/* /frontend-result/* /dev/config.json
}

reverse_proxy @3003 localhost:3003

log {
	output stdout
	format single_field common_log
}
