apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "octopod.fullname" . }}
  labels:
    {{- include "octopod.labels" . | nindent 4 }}
data:
  PROJECT_NAME: {{ .Values.octopod.projectName | quote }}
  BASE_DOMAIN: {{ .Values.octopod.baseDomain | quote }}
  NAMESPACE: {{ .Values.octopod.deploymentNamespace | quote }}
  STATUS_UPDATE_TIMEOUT: {{ .Values.octopod.statusUpdateTimeout | quote }}
  ARCHIVE_RETENTION: {{ .Values.octopod.archiveRetention | quote }}
  CREATION_COMMAND: {{ printf "%s/create" (include "controlScriptsPath" .) | quote }}
  UPDATE_COMMAND: {{ printf "%s/update" (include "controlScriptsPath" .)  | quote }}
  ARCHIVE_COMMAND: {{ printf "%s/archive" (include "controlScriptsPath" .)  | quote }}
  CHECKING_COMMAND: {{ printf "%s/check" (include "controlScriptsPath" .)  | quote }}
  CLEANUP_COMMAND: {{ printf "%s/cleanup" (include "controlScriptsPath" .)  | quote }}
  ARCHIVE_CHECKING_COMMAND: {{ printf "%s/archive_check" (include "controlScriptsPath" .)  | quote }}
  TAG_CHECKING_COMMAND: {{ printf "%s/tag_check" (include "controlScriptsPath" .)  | quote }}
  INFO_COMMAND: {{ printf "%s/info" (include "controlScriptsPath" .)  | quote }}
  DEPLOYMENT_OVERRIDES_COMMAND: {{ printf "%s/deployment_overrides" (include "controlScriptsPath" .)  | quote }}
  DEPLOYMENT_KEYS_COMMAND: {{ printf "%s/deployment_keys" (include "controlScriptsPath" .)  | quote }}
  APPLICATION_OVERRIDES_COMMAND: {{ printf "%s/app_overrides" (include "controlScriptsPath" .)  | quote }}
  APPLICATION_KEYS_COMMAND: {{ printf "%s/app_keys" (include "controlScriptsPath" .)  | quote }}
  UNARCHIVE_COMMAND: {{ printf "%s/unarchive" (include "controlScriptsPath" .)  | quote }}
  {{- range $name, $value := .Values.octopod.env }}
  {{ $name }}: {{ $value | quote }}
  {{- end }}
