.action {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    border: none;
    padding: 16px 32px 16px 16px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 16px center;
    font-family: inherit;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}

.action:not(.action--disabled):hover {
    background-color: var(--grey);
}

.action:not(.action--disabled):active {
    background-color: var(--grey-active);
}




.action--archive {
    padding-left: 50px;
    background-image: url("../vectors/common-use-archive.svg");
}

.action--edit {
    padding-left: 50px;
    background-image: url("../vectors/common-use-edit.svg");
}

.action--restore {
    padding-left: 50px;
    background-image: url("../vectors/common-use-restore.svg");
}

.action--logs {
    padding-left: 50px;
    background-image: url("../vectors/common-use-logs.svg");
}


.action--disabled {
    opacity: 0.5;
    cursor: default;
}
