.bar {
    display: inline-block;
    vertical-align: top;
    padding: 4px 6px;
    background-color: #EEEEEE;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
    .bar b {
        font-weight: 500;
    }



.bar--larger {
    padding: 4px 8px;
    font-size: 16px;
    line-height: 24px;
}
