.dash {
    padding: 12px 0 12px 24px;
    background-color: transparent;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left center;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary);
    cursor: pointer;
}

.dash:hover {
    color: var(--primary-hover);
}

.dash:active {
    color: var(--primary-active);
}


.dash--smaller {
    font-size: 12px;
    padding-left: 20px;
}

/* stylelint-disable block-opening-brace-space-before */
.dash--add                             { background-image: url("../vectors/dash-add.svg"); }
.dash--add:not(.dash--disabled):hover  { background-image: url("../vectors/dash-add-hover.svg"); }
.dash--add:not(.dash--disabled):active { background-image: url("../vectors/dash-add-active.svg"); }

.dash--back                             { background-image: url("../vectors/dash-back.svg"); }
.dash--back:not(.dash--disabled):hover  { background-image: url("../vectors/dash-back-hover.svg"); }
.dash--back:not(.dash--disabled):active { background-image: url("../vectors/dash-back-active.svg"); }

.dash--next {
    padding-left: 0;
    padding-right: 20px;
    background-position: right center;
}

.dash--next                             { background-image: url("../vectors/dash-next.svg"); }
.dash--next:not(.dash--disabled):hover  { background-image: url("../vectors/dash-next-hover.svg"); }
.dash--next:not(.dash--disabled):active { background-image: url("../vectors/dash-next-active.svg"); }
/* stylelint-enable */


.dash--disabled {
    opacity: 0.5;
    cursor: default;
}
