.deployment {
    padding: 24px;
    margin-bottom: 274px;
}

.page__body .deployment {
    padding: 0;
}

    .deployment__output {
        margin-bottom: 32px;
    }

    .deployment__summary {
        display: flex;
        align-self: flex-start;
    }
        .deployment__stat {
            min-width: 120px;
            margin-left: 32px;
        }

        .deployment__stat:first-child {
            margin-left: 0;
        }
            .deployment__param {
                display: block;
                margin-top: 0;
                margin-bottom: 0;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
            }

            .deployment__value {
                margin-top: 8px;
                font-size: 16px;
                line-height: 24px;
            }
                .deployment__value .status {
                    border-top: 4px solid transparent;
                    border-bottom: 4px solid transparent;
                }

    .deployment__section {
        margin-top: 32px;
    }
        .deployment__sub-heading {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
        }

        .deployment__widget {
            margin-top: 16px;
            font-size: 16px;
            line-height: 24px;
        }
