.header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #3671E3;
    box-shadow: var(--shadow_1);
    color: #FFFFFF;
}
    .header__wrap {
        display: flex;
        align-items: center;
    }
        .header__logo {
            margin-top: 0;
            margin-bottom: 0;
            border-right: 1px solid #709AEE;
            padding-right: 15px;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.85px;
            text-transform: uppercase;
        }

        .header__project {
            margin-left: -1px;
            border-left: 1px solid #709AEE;
            padding-left: 16px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
