.input {
    position: relative;
}
    .input__widget {
        width: 100%;
        height: 40px;
        vertical-align: top;
        padding: 8px 0;
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: inset 0 -1px #B0B0B0;
        background-clip: padding-box; /* reset iOS default shadow */
        border-radius: 0; /* reset iOS default border-radius */
        font-family: inherit;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.87);
    }

    .input__widget:hover {
        box-shadow: inset 0 -1px #326EE6;
    }

    .input__widget:focus {
        box-shadow: inset 0 -2px #326EE6;
    }

    /* stylelint-disable block-opening-brace-space-before */
    .input__widget::-webkit-input-placeholder       { font-style: normal; color: var(--dark-grey); }
    .input__widget::-moz-placeholder                { font-style: normal; color: var(--dark-grey); opacity: 1; }
    .input__widget:-ms-input-placeholder            { font-style: normal; color: var(--dark-grey); }

    .input__widget:hover::-webkit-input-placeholder { color: #B1B1B1; }
    .input__widget:hover::-moz-placeholder          { color: #B1B1B1; }
    .input__widget:hover:-ms-input-placeholder      { color: #B1B1B1; }

    .input__widget:focus::-webkit-input-placeholder { color: #B1B1B1; }
    .input__widget:focus::-moz-placeholder          { color: #B1B1B1; }
    .input__widget:focus:-ms-input-placeholder      { color: #B1B1B1; }
    /* stylelint-enable */



.input--has-clear-type {

}
    .input--has-clear-type .input__widget {
        padding-right: 30px;
    }

    .input--has-clear-type .input__widget::-ms-clear {
        display: none;
    }

    .input__clear-type {
        position: absolute;
        right: -8px;
        top: 0;
    }


.input--search {

}
    .input--search .input__widget {
        padding-left: 32px;
        background-image: url("../vectors/input-search.svg");
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: left center;
    }


.input--error {

}
    .input--error .input__widget {
        box-shadow: inset 0 -2px var(--red);
    }

    .input__output {
        margin-top: 7px;
        font-size: 12px;
        line-height: 16px;
        color: var(--red);
    }

    .input__output + .input__output {
        margin-top: 3px;
    }
