.listing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
    .listing__item.bar {
        margin-top: 2px;
    }

    .listing__item.bar--larger {
        margin-top: 4px;
    }

    .listing__item.bar:first-child {
        margin-top: 0;
    }

    .listing__more {
        margin-top: 2px;
    }


/* пока что не встречалось: */
.listing--larger {

}


.listing--for-text {
    display: block;
    font-size: 12px; /* поскольку тут нет .bar теперь размеры задаем вручную */
    line-height: 16px;
}
    .listing--for-text .listing__item {
        margin-top: 8px;
        white-space: nowrap; /* поскольку тут нет .bar теперь обрезание текста задаем вручную */
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .listing--for-text .deleted > span {
        text-decoration-line: line-through;
        opacity: 0.2;
    }
    .listing--for-text .listing__item:first-child {
        margin-top: 0;
    }
        .listing--for-text .listing__key {
            font-weight: 500;
        }

        .listing--for-text .listing__value {
            font-weight: 400;
        }

        .listing--for-text .listing__key.default {
            font-weight: 300;
            font-style: italic;
        }

        .listing--for-text .listing__value.default {
            font-weight: 300;
            font-style: italic;
        }

        .listing__placeholder {
            content: "";
            display: inline-block;
            height: 12px;
            width: 140px;
            border-radius: 2px;
            background: rgba(143, 143, 143, 0.2);
            margin-right: 4px;
            margin-top: -5px;
            margin-bottom: -1px;
        }

        .listing__placeholder__value {
            width: 70px;
        }

        .listing--info-text {
            font-style: italic;
            color: rgba(143, 143, 143);
        }

    .listing--for-text .listing__more {
        margin-top: 8px;
    }


.listing--for-text.listing--larger {
    font-size: 16px;
    line-height: 24px;
}

.listing__spinner {
    display: inline-block;
    vertical-align: middle;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    padding: 0;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-bottom: -7px;
    cursor: default;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    opacity: 1;
    background-image: url("../vectors/spot-loader.svg");
    animation: loading 2.2s linear infinite;
}

.listing.listing--larger .listing__placeholder {
    height: 14px;
}

.listing.listing--larger .listing__spinner {
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    margin-bottom: -5px;
}