.overrides {

}
    .overrides__item {
        margin-top: 8px;
        display: flex;
        align-self: flex-start;
    }

    .overrides__item:first-child {
        margin-top: 0;
    }
        .overrides__key {
            width: 400px;
        }

        .overrides__value {
            margin-left: 16px;
            width: 400px;
        }

        .overrides__delete {
            margin-left: 2px;
        }

    .overrides__add {
        margin-top: 4px;
    }
