.overrides {

}
    .overrides__add {
        padding: 8px 0 8px 24px !important;
    }

    .overrides__list {

    }

    .overrides__tree {
        margin-top: 16px;
        margin-left: 16px;
    }
