.page {
    display: flex;
    flex-direction: column;
    height: calc(100% - 72px); /* minus header */
    padding-top: 24px;
}
    .page__wrap {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
        .page__output {
            flex-shrink: 0;
            margin-bottom: 24px;
        }

        .page__back {
            align-self: flex-start;
            margin-top: -8px;
            margin-bottom: -8px;
        }

        .page__head {
            flex-shrink: 0;
            display: flex;
            align-items: flex-start;
            margin-bottom: 16px;
        }
            .page__heading {
                margin-top: 5px;
                margin-bottom: 0;
            }

            .page__note {
                margin-left: 15px;
                margin-top: 17px;
                font-size: 14px;
                line-height: 16px;
                color: var(--dark-grey);
            }
                .page__action {
                    margin-left: auto;
                }

                .page__action + .page__action {
                    margin-left: 8px;
                }

                .page__action:first-child {
                    margin-left: 0;
                }

                .page__action--search {
                    margin-right: 8px;
                }

            .page__search {
                margin-left: auto;
                width: 240px;
            }

            .page__add-deployment {
                margin-left: 16px;
            }

        .page__body {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            padding-bottom: 24px;
        }
