.popup {
    position: relative;
    z-index: 550; /* выше .drop который может быть активным ПОД попапом (открытие logs из таблицы экшнов) */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease,
                visibility 0.3s ease;
}
    .popup__overlay {
        position: fixed;
        z-index: 600;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
    }

    .popup__body {
        position: fixed;
        z-index: 800;
        right: 0;
        top: 0;
        bottom: 0;
        width: 1000px;
        background-color: #FFFFFF;
    }
        .popup__head {
            position: absolute;
            z-index: 20;
            left: 0;
            top: 0;
            right: 0;
            height: 72px;
            display: flex;
            align-items: center;
            background-color: #FFFFFF;
            box-shadow: var(--shadow_1);
        }
            .popup__close {
                display: inline-block;
                vertical-align: top;
                width: 72px;
                height: 72px;
                padding: 0;
                border: none;
                background-color: transparent;
                background-image: url("../vectors/popup-close.svg");
                background-size: 24px 24px;
                background-repeat: no-repeat;
                background-position: center center;
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
                cursor: pointer;
            }

            .popup__close:hover {
                background-image: url("../vectors/popup-close-hover.svg");
            }

            .popup__close:active {
                background-image: url("../vectors/popup-close-active.svg");
            }

            .popup__project {
                margin-top: 0;
                margin-bottom: 0;
                margin-right: 32px;
                display: block;
                font-weight: inherit;
                font-size: 24px;
                line-height: 24px;
            }

            .popup__operations {
                margin-left: auto;
                display: flex;
                align-items: flex-start;
            }
                .popup__action {
                    margin-left: 8px;
                }

                .popup__action:first-child {
                    margin-left: 0;
                }

                .popup__menu {
                    margin-left: 8px;
                    margin-right: 10px;
                }


        .popup__sub-head {
            position: absolute;
            z-index: 10;
            left: 0;
            top: 72px;
            right: 0;
            height: 56px;
            display: flex;
            align-items: center;
            background-color: #FFFFFF;
            box-shadow: inset 0 -1px 0 #D9D9D9;
        }

        .popup__head ~ .popup__content {
            margin-top: 72px;
            height: calc(100% - 72px);
            overflow-y: auto;
        }

        .popup__head ~ .popup__sub-head ~ .popup__content {
            margin-top: 128px;
            height: calc(100% - 128px);
            overflow-y: auto;
        }
            .popup__sub-head .nav__link:first-child {
                border-left: 8px solid transparent;
            }


.popup--visible {
    opacity: 1;
    visibility: visible;
}

    @keyframes popup-body-slide {
        from { transform: translateX(20px); }
        to { transform: translateX(0); }
    }

    .popup--visible .popup__body {
        animation: popup-body-slide 0.3s ease;
    }
