.status {
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 21px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.status--success {
    color: #0F7F12;
    background-image: url("../vectors/status-success.svg");
}

.status--pending {
    color: var(--primary);
    background-image: url("../vectors/status-pending.svg");
}

.status--failure {
    color: var(--orange);
    background-image: url("../vectors/status-failure.svg");
}

.status--archived {
    color: var(--red);
    background-image: url("../vectors/status-archived.svg");
}
